*{
    font-family: "Roboto";
    box-sizing: border-box;
}


header, main, footer {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    background-color: #4F2867;

}

main{
    background-color: #ffffff;
    color: #4F2867;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}



.top-header.hide {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.top-header h1{
    text-align: justify;
    font-size: 1.4rem;
    padding: 0.1rem 0.3rem;
}

.hamburger-menu {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.1rem;
}

.close-menu{
    background: none;
    padding: 0;
    font-size: 30px;
    color: white;
}



nav {
    display: none;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: row;
    width: 100%;
}


nav.active {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: row;
    width: 100%;
    background-color: unset;
    color: unset;
}


nav ul li{
    list-style-type: none;
    padding: 0.5rem 2rem;
    flex: 1;
}


nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover{
    background-color: gray;
    padding: 0.5rem;
}

main h2{
    text-align: center;
    color: black;
 }
 
.content-wrapper{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(1fr, 300px));
     grid-auto-flow: row;
     gap: 15px;
 }



 header, main, footer {
    width: 100%;
    margin: 1rem auto;
    border: 1px solid #ffffff;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
}

.img-container{
    width: 90%;
    height: 90%;
    margin-bottom: 1rem;
    max-width: 40rem;
    
}

.img-container img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 5px rgba(60, 58, 58, 0.8);
   
}


footer {
    text-align: center;
    background-color: #4F2867;
    color: white;
    padding: 10px;
    width: 100%;
} 